// Files Imports

//Import Variblies File
@use "../variblies/variblies.scss" as *;

//Import Mixin File
@use "../helpers/mixin.scss" as *;

#home{
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    &::after{
        content: "";
        @include overlay(rgba(0,0,0,0.5), 0);
    }
    .caption{
        position: relative;
        z-index: 22;
        h1{
            font-size: 70px;
        }
    }
}