//Import Files 

//Variblies File
@use "../../variblies/variblies.scss" as *;

//Mixin File
@use "../../helpers/mixin.scss" as *;

#reply{
    background-color: $alt-text-color;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.21);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.21);
    .title{
        h2{
            color: $heading-color;
        }
        &::after{
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
            width: 3px;
            background-color: $main-color;
        }
    }
    form{
        gap: 15px;
        input,textarea{
            border: 1px solid #ced4da;
            color: $text-color;
            outline: none;
        }
        textarea{
            height: 150px;
            box-shadow: none;
        }
        input::placeholder, textarea::placeholder{
            color: $text-color;
        }
        input:focus, textarea:focus{
            outline: 3px solid $hover-color;
        }
        .btnMain{
            background-color: $main-color;
            color: $alt-color;
            font-size: 20px;
            outline: none;
            border: none;
            transition: all $trasition-time;
            &:hover{
                background-color: #00B1FF;
                outline: 4px solid $hover-color;
            }
        }
    }
}